{% extends "base.html" %}
{% block content %}
<h1>Add New Artist:</h1>
    <form action="{{ url_for('addArtist') }}" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.artistName.label }}<br>
            {{ form.artistName(size=32) }}
        </p>
        <p>
            {{ form.artistHomeTown.label }}<br>
            {{ form.artistHomeTown(size=32) }}
        </p>
        <p>
            {{ form.artistBio.label }}<br>
            {{ form.artistBio(size=100) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}